<header>
    <div class="container">
        <logo>
            <a href="{{ path('app_translator_index') }}">
                <img src="{{ asset('images/2.png') }}">
            </a>
        </logo>
        <div class="changeLanguage">
            <a href="{{ path('app_translator_changelanguage', {'_locale': 'ru'}) }}">
                ru
            </a>
            <a href="{{ path('app_translator_changelanguage', {'_locale': 'en'}) }}">
                en
            </a>
        </div>
        {% if isUser %}
            <a class="logout" href="{{ path('fos_user_security_logout') }}">{{ logout }}</a>
        {% endif %}
    </div>
</header>