{% extends "base.html.twig" %}

{% block title %}AppBundle:translator:index{% endblock %}

{% block body %}
    {% include '@App/header.html.twig' %}
    <div class="container shadow">
        <h1 class="welcome">{{ welcome }}</h1>
        <div class="info">
            <h1 class="about">{{ aboutUs }}</h1>
            <span>
                    <img src="{{ asset('images/1.jpeg') }}">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consequuntur id placeat rem. Maxime natus rem sequi voluptates
                        voluptatibus? Accusamus alias amet blanditiis cupiditate deserunt ex
                        illo, ipsam maiores, quibusdam reiciendis reprehenderit, temporibus?
                        Consequuntur distinctio error facere ipsum molestias odit, placeat
                        temporibus ullam! Alias corporis cum esse officiis, repudiandae tenetur?
                        Adipisci cumque delectus laborum nihil nobis, obcaecati, omnis porro quidem,
                        saepe similique sit tenetur vel! Ab fugit laborum quae sint totam!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
                        cumque debitis dignissimos dolorem esse et fuga id impedit in ipsum itaque
                        libero magnam non provident quidem sint suscipit! Animi cupiditate deserunt
                        ex illo ipsa, magnam maxime natus nihil perferendis repellat repudiandae
                        suscipit ut vel voluptas voluptatibus. A atque blanditiis, consequatur,
                        consequuntur dolorem doloribus et eum eveniet explicabo facilis hic modi
                        molestiae mollitia perferendis, quisquam quo vel. Architecto, aut culpa cumque
                        illum minima quos temporibus voluptate voluptates! Aut consequuntur debitis
                        dignissimos exercitationem in praesentium rerum! Accusantium assumenda
                        consequuntur delectus deserunt eos est eveniet ex illum, in ipsam laudantium
                        minus nisi officia officiis perferendis quis quo rem similique temporibus veniam.
                        Aut laborum porro sunt suscipit voluptate? Aliquid, molestias, sed! Excepturi,
                        veniam, voluptate?
                    </p>
                </span>
        </div>
        <div style="clear: both;"></div>
        {% if isUser %}
            <h1>{{ orderList }}</h1>
            <ul class="list">
                {% for content in contents %}
                    <li>
                        <a href="{{ path('app_translator_translatetext', {'id': content.id}) }}">
                            {{ content.translate('ru').text }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            <div class="form_to_translate">
                <h1 style="margin-bottom: 30px">{{ addText }}</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="bnt">
                <a class="loginBtn" href="{{ path('fos_user_security_login') }}">Login</a>
                Еще нет аккаунта? <a class="logoutBnt" href="{{ path('fos_user_registration_register') }}">Зарегистрируйтесь</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
