{% extends "base.html.twig" %}

{% block title %}AppBundle:translator:translateText{% endblock %}

{% block body %}
    {% include '@App/header.html.twig' %}
    <div class="container shadow">
        <h1>{{ originalText }}</h1>
        <p class="original_text">{{ text.translate('ru').text }}</p>
        <hr>
        <h1>{{ textTranslated }}</h1>
        <ul class="translate_word">
            <li>
                На английском
                <ul>
                    <li>{{ text.translate('en').text }}</li>
                </ul>
            </li>
            <li>
                На французском
                <ul>
                    <li>{{ text.translate('fr').text }}</li>
                </ul>
            </li>
            <li>
                На немецком
                <ul>
                    <li>{{ text.translate('de').text }}</li>
                </ul>
            </li>
            <li>
                На кыргызском
                <ul>
                    <li>{{ text.translate('kg').text }}</li>
                </ul>
            </li>
            <li>
                <ul>
                    На итальянском
                    <li>{{ text.translate('it').text }}</li>
                </ul>
            </li>
        </ul>
        <div class="form_to_translate">
        <h1 style="margin-bottom: 30px;">Ввести перевод</h1>
            {{ form_start(formForTranslate) }}
            {{ form_widget(formForTranslate) }}
            {{ form_end(formForTranslate) }}
        </div>
    </div>
{% endblock %}
