*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}
.shadow{
    -webkit-box-shadow: 0px 28px 65px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 28px 65px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 28px 65px 5px rgba(0,0,0,0.75);
}
.info img{
    float: right;
    margin: 0 0 5px 7px;
}
span p{
    margin-bottom: 10px;
}
ul.list{
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
}
ul.list li{
    margin-bottom: 15px;
    font-size: 18px;
}
ul.list li a{
    color: #0088CC;
}
body{
    background: #eee;
}
header{
    background: #fff;
}
header img {
    width: 140px;
    height: 70px;
}
.logout{
    padding: 7px 15px;
    background: #5eb5e0;
    color: #FFFFFF;
    border-radius: 7px;
    text-decoration: none;
    float: right;
    margin-top: 20px;
}
.welcome{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
h1{
    font-weight: normal;
    font-size: 26px;
}
/*inner page*/
p.original_text{
    color: #718C00;
    font-size: 30px;
    margin: 10px;
}
.translate_word{
    margin-top: 30px;
    margin-left: 40px;
}
.translate_word li{
    margin-bottom: 20px;
}
.form_to_translate{
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.form_to_translate label{
    display: block;
}
.form_to_translate input{
    width: 300px;
    padding:3px 5px;
    border-radius: 4px;
    border: #F5871F solid 1px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#form_save{
    padding: 7px 10px;
    color: #FFFFFF;
    background: #6b9311;
    border-radius: 10px;
    width: 100px;
    margin-left: 110px;
}
.changeLanguage{
    float: right;
}
.bnt{
    margin-top: 50px;
    margin-bottom: 50px;
}
.loginBtn, .logoutBnt{
    padding: 7px 10px;
    background: #0088CC;
    color: #FFFFFF;
    border-radius: 5px;
    margin-right: 30px;
}
.logoutBnt{
    background: #6b9311;
}
header .container{
    position: relative;
}
.changeLanguage{
    position: absolute;
    right: 130px;
    top: 37px;
}
.changeLanguage a{
    margin-left: 10px;
    color: #F5871F;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}